.week_day {
  background-color: var(--foreground-color);
  color: var(--primary-text-color);
  padding: 20px;
  border-radius: 10px;
}

.day_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.day_title {
  margin: 0px 10px 0px 0px;
  text-align: center;
  text-transform: capitalize;
}

.sort_button {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none;
  background: none;
  background-color: var(--background-color);
  border-radius: 10px;
  border: 2px solid var(--background-color);
  cursor: pointer;
  padding: 15px 15px;
}

.sort_button.dark-mode::after {
  content: '';
  background-image: url('../../../svg/sort-icon.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 70%;
  height: 70%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
}

.sort_button.light-mode::after {
  content: '';
  background-image: url('../../../svg/sort-icon.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 70%;
  height: 70%;
  filter: invert(0) sepia(0) saturate(0) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.sort_button:hover {
  background-color: var(--foreground-color);
}

.add_task_button {
  background-color: var(--background-color);
  border-radius: 10px;
  border: 2px solid var(--background-color);
  color: var(--primary-text-color);
  cursor: pointer;
  padding: 3px 10px;
  font-size: 22px;
}

.add_task_button:hover {
  background-color: var(--foreground-color);
}