.new_task_value_input {
  background-color: var(--foreground-color);
  border: 2px solid var(--toggle-bg);
  color: var(--primary-text-color);
  border-radius: 10px;
  padding: 7px;
  width: 100%;
  outline: none;
}

.new_task_value_input:focus {
  border-color: var(--secondary-text-color);
}

.new_task_time_input {
  background-color: var(--foreground-color);
  color: var(--primary-text-color);
  border: 2px solid var(--toggle-bg);
  border-radius: 10px;
  padding: 7px;
  width: 80px;
  margin-right: 5px;
  outline: none;
}

.new_task_time_input::-webkit-calendar-picker-indicator {
  background-color: var(--toggle-bg);
  border-radius: 50%;
}

.new_task_time_input:focus {
  border-color: var(--secondary-text-color);
}

.new_task_time_select:focus {
  border-color: var(--secondary-text-color);
}

.new_task_confirm_button {
  background-color: var(--toggle-bg);
  color: var(--primary-text-color);
  border-radius: 10px;
  border: 2px solid var(--toggle-bg);
  padding: 7px;
  margin-left: 15px;
  cursor: pointer;
}

.new_task_confirm_button:hover {
  background-color: var(--foreground-color);
}

.new_task_bottom {
  margin-top: 10px;
  display: flex;
  justify-content: 'space-between';
  align-items: center;
}

@media screen and (max-width: 250px) {
  .new_task_time_type {
    font-size: 14px;
  }

  .new_task_value_input {
    width: 110px;
    margin-bottom: 10px;
  }

  .new_task_bottom {
    flex-direction: column;
  }

  .new_task_confirm_button {
    width: 100%;
    margin-left: 0;
  }
}
