.app {
  width: 100%;
  background-color: var(--background-color);
  transition: background-color 0.25s ease-in-out;
}

.main {
  max-width: 1350px;
  margin: 0 auto;
}

.title {
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.box {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--foreground-color);
  color: var(--primary-text-color);
}