body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f0f0f0;
  --foreground-color: #FFFFFF;
  --primary-text-color: #18191a;
  --secondary-text-color: #B0B3B8;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
}

[data-theme='dark'] {
  --background-color: #18191a;
  --foreground-color: #242526;
  --primary-text-color: #E4E6EB;
  --secondary-text-color: #B0B3B8;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}


